$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$ico-email: "\e935";
$ico-download: "\e922";
$ico-linkedin: "\e915";
$ico-leetcode: "\e900";
$ico-map: "\e90f";
$ico-mobile: "\e910";
$ico-perso: "\e96a";

